.project_card {
    padding: 1em;
    border: 1px solid #7a7a7a;
    border-radius: 15px;
    width: 30%;
    margin: .5%;
    margin-left: auto;
    margin-right: auto;
}

.project_card h4 {
    background-color: #222;
    color: #ffbb33;
    padding: .4em;
    margin: -17px;
    border-radius: 15px 15px 0px 0px;
    margin-bottom: 1.3em;
    font-size: 1.1em;
    text-align: center;
}

.project_card p {
    color: #7a7a7a;
    margin-bottom: 1em;
}

.project_card p span {
    font-weight: bold;
}

.category_text {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.category_text span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 5px;
}

.category_text .infra {
    background-color: #ffaebc;
}

.category_text .desenvolvimento {
    background-color: #a0e7e5;
}

.category_text .design {
    background-color: #b4f8c8;
}

.category_text .planejamento {
    background-color: #fbe7c6;
}

.project_card_actions {
    margin-top: 1.2em;
    display: flex;
    align-items: center;
}

.project_card_actions a,
.project_card_actions button {
    text-decoration: none;
    border: 1px solid #222;
    background-color: #fff;
    color: #222;
    font-size: .9em;
    padding: .6em 1em;
    margin-right: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.project_card_actions svg {
    margin-right: .5em;
}

.project_card_actions a:hover,
.project_card_actions button:hover {
    background-color: #222;
    color: #ffbb33;
}

@media (max-width: 768px) {
    .project_card {
        width: 47%;
        margin: .5em;
    }
}

@media (max-width: 430px) {
    .project_card {
        width: 300px;
        margin: .5em;
    }

    .project_card_actions a,
    .project_card_actions button {
        width: auto;
    }
}

@media (max-width: 325px) {
    .project_card {
        width: auto;
        margin: .5em;
    }

    .project_card_actions a,
    .project_card_actions button {
        width: auto;
    }
}