footer {
    background-color: #333333;
    color: white;
    padding: 3em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    
}

.social_list li {
    margin: 0 1em;
}

.social_list a {
    color: white;
}

.social_list a:hover {
    color: #ffbb33;
}



.social_list svg {
    font-size: 1.7em;
    cursor: pointer;
}



.copy_right {
    margin-top: 2em;
}

.copy_right span {
    font-weight: bold;
    color: #ffbb33;
}